.content {
    padding: 16px;
  }
  
.content > mat-card {
    width: 150px;
}

img {
    cursor: pointer;
}

h1 {
    padding-left: 16px;
    color: #ffffff;
}

h2 {
    padding: 0px;
    margin-top: -1px;
}

mat-card-header {
    background-color: #ffd700;
    border-radius: 20px;
  }
  
mat-card {
border-radius: 20px;
background-color: #ffd700;
}

.main > mat-card {
    width: 400px;
    margin: 16px;
}

.userInfo {
    background-color: #ffffff;
  }

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.entire {
    background-color: #000000;
}

button {
    margin-right: 8px;
}




  